@charset "UTF-8";
 

  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        min-height: 100vh;
        background-color: white;
    }
header{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
header > h1{
    font-family: 'Passion One', cursive;
    font-size: 135px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 40px;
}

header > p{
    text-align: center;
    padding-bottom: 40px;
    

}

header  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 header  a:hover{
    text-decoration: underline;
 }
 section > p{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: 'Sriracha', cursive;
    font-size: 46px;
    text-align: justify;
    line-height: 2em;
    
 }
 
div.imagen{
    min-width: 300px;
    max-height: 1000px;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: 43px;
    color:white;
    font-family:'Sriracha', cursive;

    
}
div.imagen2{
    min-width: 300px;
    max-height: 1000px;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: 43px;
    font-family: 'Sriracha', cursive;
    color: white;
    

    
}
div.imagen > p{
    background-color: rgba(0, 0, 0, 0.541);
    padding: 20px;
}
div.imagen2 > p{
    background-color: rgba(0, 0, 0, 0.541);
    padding: 20px;
}
footer{
    min-width: 200px;
    max-height: 300px;
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}